<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>An Redux Reducer template.</string>
	<key>Summary</key>
	<string>An Redux Reducer template.</string>
	<key>SortOrder</key>
	<string>0</string>
	<key>DefaultCompletionName</key>
	<string>MyReducer</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>NotPersisted</key>
			<true/>
			<key>Identifier</key>
			<string>StateClass</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>State Class:</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>NotPersisted</key>
			<true/>
			<key>Identifier</key>
			<string>ReducerName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Reducer Function Name:</string>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
</dict>
</plist>
